---
---
$header-bg-color: #454545 !default;
$header-bg-color-secondary: #999999 !default;
$background-color: #e6e6e6 !default;
$body-link-color: #a280ad !default;

$section-headings-color: #794f87 !default;
@import "{{ site.theme }}";

